---
import Layout from '../layout/main.astro'
---

<Layout>
	<div slot="main">
        <p>World Wide Bread is a simple bread themed website with bread stuff like facts, webring and stickers</p>
        <p>Made with ♡ by <a href="https://crislzy.xyz">Cris</a>
	</div>
</Layout>