---
import Layout from '../layout/main.astro'
---

<Layout>
	<div slot="main">
        <h1 align="center">🍞 88x31 stickers</h1>
        <h3 align="center">Click to download</h3>
        <br>
        <div class="breadstickers">
        <a href="/assets/88x31/ilovebread.png" download>
            <img src="/assets/88x31/ilovebread.png">
        </a>
        <a href="/assets/88x31/3xbread.png" download>
            <img src="/assets/88x31/3xbread.png">
        </a>
        </div>
	</div>
</Layout>