---
import Layout from '../layout/main.astro'
---

<Layout>
	<div slot="main">
        <h1 align="center">🍞 BreadRing 🍞</h1>
        <h3 align="center">The webring for bread lovers</h3>

        <div class="webring-index-links">
            <a href="/webring/members">Members</a>
            <a href="/webring/about">About</a>
        </div>
        <br>
        <img src="/assets/imgs/bread1.png" class="webring-bread1" align="center">
	</div>
</Layout>